extends layout

block content
  h1= title
        if tf
                        p= tf
        else
                form(id='reguser' action='/' method='post')
                        table
                                tr.login
                                        td.login-triangle
                                                td.login-header
                                                        td.login-container
                                                                td User Email
                                                                        input(type='text' name='email' required)
                                                                td Password
                                                                        input(type='text' name='password' required)
                                                                td
                                                                        input(type='submit' value='Go')