extends layout

block content
  h1= title
        if tf
                        p= tf
        else
        #main
                form.fork(id='reguser' action='/' method='post')
                        table
                                tr.label
                                        td User Email
                                                input.email(type='text' name='email' required)
                                        td Password
                                                input.password(type='text' name='password' required)
                                        td
                                                input.button(type='submit' value='Go')