extends layout

block content
  h1= title
        if tf
                        p= tf
        else
                form(id='reguser' action='/' method='post')
                        div.login
                                div.login-container
                                                div.login-header
                                                        div User Email
                                                                input(type='email' name='email' required)
                                                        div Password
                                                                input(type='password' name='password' required)
                                                        p
                                                                input.button(type='submit' value='Go')