doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='module' src='/javascripts/page.js')
  body
    header
      nav.navigation
        ul.menu
          li
            a(href="/") Home
          li
            a(href="/userform") Register user
          if authenticated
            li
              a(href="/approveuser") Approve users
            li
              a(href="/showtask") Show task
            li
              a(href="/taskform") Register task      
            li 
              a(href="/logout") Logout    
          if !authenticated
    main
    block content
