extends layout

block content
	h1= title
	p To do list
	form(id='task' action='/taskform' method='post')
		div.login
			div.login-container
				div.login-header
					tr
						td Task title
						td
							input(type='text' name='title' required)
					tr
						td Description
						td
							input(type='text' name='description' required)
					tr
						td Expiration date
						td
							input(type='date' name='expires' required)
					tr
						td Task priority
						td
							select(type='string' name='priority' required)
								option(value="high") High
								option(value="medium") Medium
								option(value="low") Low
					tr
						td Task status
						td
							select(type='string' name='status' required)
								option(value="do") To do
								option(value="doing") Doing
								option(value="done") Done
					tr
						td
						td
							input(type='submit' value='Go')